@import url("https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif");

/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

body {
    background-color: #000;
    background-repeat: no-repeat;
    background-image: url(image/fitness-main.jpg);
    background-size: contain;
    background-position: center -17em;
}

/* typography */
html {
    font: 12px/1.5 'PT Sans', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* site bar */
.section-site-bar {
    background-color: #D01919;
    color: #fff;
}

.section-site-bar .container {
    max-width: initial;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 5em;
}


.section-site-bar .social {
    display: flex;
}

.section-site-bar .social li,
.section-site-bar .social a {
    display: block;
}

.section-site-bar .social li {
    padding: 0 0.5em;
}

.section-site-bar .social a {
    color: #fff;
}

.section-site-bar .social a span {
    display: none;
}


/* site header */
.section-site-header {
    /* background-color: black; */
    color: #fff;
}

.section-site-header .container {
    display: flex;
    justify-content: flex-end;
    max-width: initial;
    padding: 1em 4.5em;
}

.section-site-header a {
    color: #fff;
}

/* main nav */
.main-nav ul {
    display: flex;
}

.main-nav li,
.main-nav a {
    display: block;
}

.main-nav a {
    padding: 0.5em 1em 0.5em 5.5em;
    text-decoration: none;
}


/* hero section */
.section-hero {
    /* background-color: black; */
    color: #fff;
}

.section-hero a {
    color: #fff;
}

.section-hero h2 {
    font-size: 3em;
    font-weight: normal;
    letter-spacing: 0.2em;
}

.section-hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em 2em;
    font-size: 1.2em;
    height: 30em;
}

.section-hero .container p {
    max-width: 60ch;
    text-align: center;
    margin: 1em 0;
}

.section-hero .container a {
    display: block;
    text-decoration: none;
    background-color: #D01919;
    color: #fff;
    border-radius: 0.3em;
    padding: 0.3em 1em;
}

/* equals sections */

.section-equals .container {
    padding: 2em;
}

.section-equals .section-header {
    text-align: center;
}

.section-equals .section-content {
    display: flex;
    gap: 2em;
}

.section-equals .section-content article {
    text-align: center;
    flex: 1 1 30%;
    padding: 0 4em;
}

.section-equals h3 {
    font-size: 2em;
    margin-bottom: 2em;
}

.section-equals h3 span {
    display: block;
    width: 3ch;
    height: 2px;
    margin: 1em auto;
    background-color: #D01919;
}

.section-equals h4 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

/* first section */
.section-first {
    padding-bottom: 2em;
    background-color: #fff;
}

.section-first .section-content {
    padding: 0 6em;
}

.section-first img {
    width: 16%;
    margin: 0 auto;
}

.section-first h4 {
    color: #D01919;
}


/* second section*/
.section-second {
    background-color: #EFEFEF;
}

.section-second h5 {
    color: #D01919;
}

.section-second .media {
    overflow: hidden;
    border-radius: 0.3em;
    margin-bottom: 1em;
}

.section-second p {
    padding: 1em 2em;
    color: #A6A1A5;
}

/* footer */
.section-site-footer {
    background-color: #D01919;
    color: #000;
}

.section-site-footer p {
    text-align: center;
    padding: 1em 0;
}