@media(max-width: 600px) {
    /* .home-container{
        margin-top: 50px;
    } */

    .home-navbar1 {
        display: none;
    }

    /* small nav */
    .home-header {
        padding: 16px;
    }

    .max-width-container {
        padding-left: 13px;
        padding-right: 13px;
    }

    .section-heading-text.Heading-2 span {
        font-size: 20px;
    }

    .section-heading-text1 {
        font-size: 12px;
        line-height: normal;
    }

    .section-heading-section-heading {
        margin-bottom: 34px;
    }

    .home-cards-container {
        grid-gap: 0.5em;
    }

    .category-card-category-card {
        flex: 0 0 48%;
    }

    .category-card-image {
        margin-bottom: 0.5em;
    }

    .category-card-image {
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
    }

    .home-full-width-banner.section-container {
        padding: 0;
        flex-direction: column;
    }

    .section-container {
        padding-top: 0;
    }

    .home-left4 {
        padding: 1.4em 0;
    }

    .home-content {
        margin-bottom: 1.3em;
    }

    .home-text30 {
        font-size: 12px;
        align-items: stretch;
        width: 90%;
        line-height: 1.6;
    }



    .home-full-width-banner {
        padding: 2em 0;
    }

    .home-image6 {
        width: 100%;
    }

    .blog-post-card-blog-post-card {
        max-width: initial;
    }

    .blog-post-card-text {
        font-size: 18px;
    }

    .blog-post-card-text1 {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .blog-post-card-container {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .blog-post-card-container .button {
        padding: 10px 16px;
    }

    .home-links-container {
        grid-gap: 38px;

    }

    .section-container {
        padding-top: 0;
    }

    .section-heading-text {
        margin: 8px;
    }

    .home-main {
        padding-bottom: 2.5em;
    }


    /*  footer */
    .home-footer1,
    .home-links-container {
        flex-direction: column;
        padding-top: 20px;
    }

    .home-container09 {
        padding-top: 32px;
    }

    .home-text38 {
        margin-bottom: 36px;
    }

    .home-footer1 {
        flex-direction: column-reverse;
        padding-bottom: 1em;
    }
}