@media(max-width: 600px) {
    .home-navbar {
        max-width: 100%;
        padding-left: 50px;
    }

    .home-cta-btn {

        padding-top: 6px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 6px;
        font-size: 14px;
    }

    .home-hero {
        flex-direction: column-reverse;
    }

    .home-hero-text-container {
        width: 95%;
    }

    .home-image1 {
        order: 1000;
        width: 90%;
    }

    .home-cta-btn2 {
        align-self: center;
        padding: 12px 6px;

    }

    .home-heading {
        font-size: 42px;
    }

    .home-heading-container {
        width: 100%;
    }

    .Section-Heading {
        font-size: 30px;
    }

    .Section-Text,
    .Card-Text {
        font-size: 0.8em;
    }

    .home-cards-container {
        flex-direction: column;
    }

    .home-feature-card,
    .home-feature-card1,
    .home-feature-card2 {
        width: 100%;
    }

    .home-features {
        height: auto;
    }

    .home-stats {
        display: flex;
        flex-direction: column;
    
    }
}