@import url("https://fonts.googleapis.com/css?family=PT+Serif");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");

/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

/* typography */
html {
    font: 12px/1.5 'PT Serif', serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
body {
    background-image: url(images/background.jpg);
 background-repeat: no-repeat;
 background-size:cover;
    background-position: center ;
}

/* site header */
.section-site-header {
 
    color: #fff;
}
* + p {
    font-family: 'PT Sans', sans-serif;;
}
.section-site-header .container {
   
    display: flex;
    justify-content: space-between;
    max-width: initial;

    padding: 1em 3em;
}
.logo {
    display: inline-block;
}
.logo img{
    width: 6em;
    height: auto;
}
.section-site-header a {
    color: #fff;
    /* color: #000; */
}

/* main nav */
.main-nav ul {
    display: flex;

}

.main-nav li,
.main-nav a {
    display: block;
}

.main-nav a {
   
    text-transform: uppercase;
    padding: 0.5em 2em ;
    text-decoration: none;
}



/* hero  */

.section-hero {
    color: #fff;

}
.section-hero h2{
    max-width:25rem;
    text-wrap: balance;
    font-weight: normal;
    padding-bottom: 0.8em;
}
.section-hero p {
    max-width: 63ch;
}


.section-hero .container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 1em 1em 8em 1em;
    font-size: 1.4em;
    
}

.section-content {
    background-color: #fff;
    padding-bottom: 3em;
    border-bottom: 1px solid #b0825c;

}
.section-content .container {
    padding: 6em 1em;
    display: flex;
    gap:3em;
}

.section-content .content h3{
  font-size: 2.2em;
  font-weight: normal;
  letter-spacing: 1px;
  padding-bottom: 0.6em;

}

.section-content .content .button {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    background-color: #fff;
    color: #b0825c;
    padding: 0.5em 1.3em;
    border: 2.2px solid #b0825c;
}

.section-content .content p {
    line-height: 1.6;
    letter-spacing: 0.5px;
    max-width: 70ch;
    padding-bottom: 3em;
}


