.section-blog .section-container {
    padding: 4em 1em;
}

.section-blog .entries-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.section-blog .entries-list article {
    flex: 1 1 calc(50% - 1em);
}

.section-blog .section-header h2 {
    margin: 0;
    padding: 0 0 0.5em 0;
    font-weight: 600;
    max-width: 25ch;

}

.section-blog .list-header {
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 2em;
}

/* popular */
.section-blog.popular .section-header {
    position: relative;
}

.section-blog.popular .section-header a.button {
    position: absolute;
    top: 0;
    right: 0;
}

.section-blog.popular .section-header h4 {
    padding-bottom: 0;
}

.section-blog.popular .entries-list {
    padding-top: 2em;
    justify-content: space-between;
}

.section-blog.popular .entries-list article {
    flex: 0 1 30%;
}

.section-blog.popular .entry {
    flex-direction: column;
    align-items: stretch;
}

.section-blog.popular .entry .media {
    aspect-ratio: initial;
    max-height: initial;

}

.section-blog.popular .entry .media img {
    width: 100%;
    height: auto;
}

.section-blog.popular .entry-content {
    padding-left: 0;
    padding-top: 1em;
}

/* newsletter */
.section-sign-up-newsletter.section {
    background-image: url(https://media.istockphoto.com/id/1267160982/photo/web-banner-relax-in-nature-from-tropical-forest-with-sunlight-in-spring-season.jpg?s=2048x2048&w=is&k=20&c=tu67qnb_kZB41qyIOvaE6M4ly7c6eXh7vHLmVQVd6vQ=);
    padding: 4em 2em;

}

.section-sign-up-newsletter .section-container {

    display: flex;
    justify-content: space-between;
    gap: 4em;
}


.section-sign-up-newsletter .section-container .newsletter {

    margin-left: 2em;
}

.section-sign-up-newsletter .section-container form {
    display: flex;
    padding-bottom: 0.5em;
    padding-top: 1em;
}

@media (max-width: 600px) {
    .section-sign-up-newsletter .section-container {
        display: flex;
        flex-direction: column;
        gap:0;
        padding-left: 2em;
    }

    .section-sign-up-newsletter .section-container .newsletter {
        margin: 0;
    }
}